#buttons {
  padding: 10px 0 10px;
}
#textBody {
  display: none;
}
#textField {
  border: #ccc 1px solid;
  width: 100%;
  height: 300px;
}
#linkPopover {
  position: absolute;
  display: none;
  width: 300px;
  z-index = 9999;
}
#linkSubmit {
  margin: 10px 0 10px;
}
